{% extends 'base.html.twig' %}

{% block title %}RoadToArnold
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h1>Êtes-vous un coach ?</h1>
		<a href="{{ path('registration-coach') }}">Je m'inscris</a>

		<h1>Êtes-vous débutant ?</h1>
		<a href="{{ path('registration-debutant') }}">Je m'inscris</a>

		<h1>Vous avez déjà un compte ?</h1>
		<a href="{{ path('app_login') }}">Je me connecte</a>

	</div>

{% endblock %}
