{% extends 'base.html.twig' %}

    {% block title %}Les Salles de Sport{% endblock %}

    {% block body %}
        <h1>Les Salles de Sport</h1>


        <div class="row salledesport-container">
            {% for salledesport in salledesports %}
                <div class="col-md-4">
                    <div class="salledesport-item text-center">
                        <a href="{{ path('app_salle_de_sport_unit', {'slug' : salledesport.slug} ) }}"><img src="/uploads/{{ salledesport.illustration }}" alt="" class="img-fluid"></a>
                        <h5>{{ salledesport.libelle }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>


    {% endblock %}
