{% extends 'base.html.twig' %}

    {% block title %} {{ salledesport.libelle}} {% endblock %}

    {% block body %}
        <h1>{{ salledesport.libelle}}</h1>


        {{dump(salledesport)}}


    {% endblock %}
